body, html {
  height: 100%;
  margin: 0;
}

.card {
  border: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
